  <!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark navbar-below" style="background-color: #2b2c2e;">
      <h4 class="display-8 navbar-text mx-auto">&copy;&nbsp; Jungyu Lee - 301236221 - Express Portfolio Site - COMP229 - Fall 2022</h4>
    </nav>
  </footer>