/* custom css goes here */
.navbar-brand {
    position: absolute;
}

.navbar-above {
    border-bottom: 3px solid whitesmoke;
}

.navbar-below {
    border-top: 3px solid whitesmoke;
}

.navbar-text {
    font-size: 0.8em;
    font-weight: bold;
    color:whitesmoke;
}

.navbar-nav {
    font-weight: bold;
}

.empty-space {
    padding-bottom:10px;
}

.content {
    text-align: center;
    height: 90vh;
    background-color:whitesmoke;
}

.intro {
    font-size:40px;
    color:whitesmoke;
    font-variant: small-caps;
}

.about-intro, .services-intro, .contact-intro {
    color: #2b2c2e;
}

.ms {
    margin-top: 180px;
    font-size: 50px;
}

.ms-quote {
    margin-top: 40px;
    font-family: cursive;
    font-size: 30px;
}

.about-link {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: #2b2c2e;
    font-weight: bold;
    text-decoration: none;
}

.about-link:hover {
    color: black;
    font-weight: bold;
    font-size: 2em;
}

.myphoto {
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 35px;
}

.mydescription {
    color:#2b2c2e;
    font-family:cursive;
    font-size: 20px;
}

.resume {
    text-decoration: none;
    color:#2b2c2e;
}

.resume:hover {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}


.myservices {
    color:#2b2c2e;
    margin-top: 70px;
    font-size: 50px;
    margin-bottom: 70px;
}

.skills {
    color: #2b2c2e;
    font-weight: bold;
    font-size:25px;
}

.contactinfo {
    font-weight: bold;
}

.message-box {
    width:200px;
    height: 150px;
}

.legend {
    margin-top: 40px;
}

.form-label {
    font-size: 15px;
    margin-bottom: -3px;
    font-weight: bold;
}

.form-input {
    margin-bottom: 2px;
}

.form-submit{
    background-color: black;
    color: whitesmoke;
    margin-bottom: 20px;
    margin-top: 15px;
}

@media only screen and (max-width: 992px) {
.navbar-brand {
    position: absolute;
    right: -2px;
    top: 3px;
}
}